body {
	text-align: center;
		text-decoration: none;
}

header h1{
	background-color: #99FF99;
	color:#996633;
	font-size: 60px;
	text-decoration: none;
}

.searchForm input{
	margin-top:50px;
}


.result h5{
	text-align: right;
}

.list-group-item {
	size:300px;
	text-align:center;
}

.list-group {
	text-align: center;
}

.city-info #map{
     height: 50%;
     width: 50%;
     margin-left:500px;
}