<html>
   {% load staticfiles %}
<head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<meta http-equiv="Content-type" content="text/html; charset=shift-jis" /> 
	<link rel="stylesheet" href="{% static '/css/top.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap-theme.min.css' %}">
    <script type="text/javascript" src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/base.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/fontawesome.min.css' %}">
</head>
<body>
<header>
<a href="http://127.0.0.1:8000/postal/" style="text-decoration: none;"><h1>Postal Search</h1></a>
</header>
{% block content %}
{% endblock %}
</body>
</html>