{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<div class="city-info">
	 <h1>{{ city.prefecture }}{{ city.city }}{{ city.town }}</h1>
	 <br>
	 <h2>郵便番号：{{ city.postal }}</h2>
	 <h3>x:{{ city.x }}</h3>
	 <h3>y:{{ city.y }}</h3>
	 <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
	 <script type="text/javascript" src="{% static '/js/cityInfo.js' %}"></script>
	 <div id="map"></div>
	 <input type="hidden" id="x" name="variable" value="{{ city.x }}">
	 <input type="hidden" id="y" name="variable" value="{{ city.y }}">
</div>
{% endblock %}
