{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<div class="city-info">
	 <h1>{{ city.prefecture }}{{ city.city }}{{ city.town }}</h1>
	 <br>
	 <h2>郵便番号：{{ city.postal }}
         <button id="favorite" value="fav">fav</button>
     </h2>
	 <br>
	 <br>
	 <div id="map" style="margin-left:25%;"></div>
	<form method="GET" name="asa" class="post-form" action="/postal/result">
		{% csrf_token %}
		{{ form.as_p}}
	 <input type="hidden" id="x" name="variable" value="{{ city.x }}">
	 <input type="hidden" id="y" name="variable" value="{{ city.y }}">
	 <input type="hidden" id="prefecture" name="variable" value="{{ city.prefecture }}">
	 <input type="hidden" id="city" name="variable" value="{{ city.city }}">
	<input type="hidden" id="town" name="variable" value="{{ city.town }}">
     <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
	 <script type="text/javascript" src="{% static '/js/cityInfo.js' %}"></script>
</div>
{% endblock %}
